@charset "UTF-8";

.container {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

.findPwContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findBox {
    width: 800px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.findBox > ul {
    width: 80%;
    height: 500px;
    color: dimgray;
}

.findBox > ul > li:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 3px solid rgb(255, 98, 41);
    margin-bottom: 70px;
}

.findBox > ul > li:nth-child(1) > p {
    margin-bottom: 15px;
}

.findBox > ul > li:nth-child(2) {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.findBox > ul > li:nth-child(2) > p {
    font-size: 13px;
    font-weight: bold;
    color: #ff8d64;
}

.findBox > ul > li:nth-child(2) > div:nth-child(2) {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.findBox > ul > li:nth-child(2) > div:nth-child(2) > label {
    font-size: 25px;
    font-weight: bold;
    margin-right: 80px;
}

.findBox > ul > li:nth-child(2) > div:nth-child(2) > input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.findBox > ul > li:nth-child(2) > div:nth-child(3) {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 45px;
}

.findBox > ul > li:nth-child(2) > div:nth-child(3) > label {
    font-size: 25px;
    font-weight: bold;
    margin-right: 42.5px;
}

.findBox > ul > li:nth-child(2) > div:nth-child(3) > input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.findBox > ul > li:nth-child(2) > div:nth-child(4) {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.findBox > ul > li:nth-child(2) > div:nth-child(4) > button {
    margin-left: 20px;
    width: 80px;
    height: 34px;
    color: lightslategray;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    background-color: #eee;
    cursor: pointer;
}

.findBox > ul > li:nth-child(2) > div:nth-child(4) > button:hover {
    background-color: #ff8d64;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

input:focus {
    outline: 2px solid #ff8d64;
    transition: .5s;
}