@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@400&display=swap');

body {
	/* width: 100%; */
	
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fff;
    position: relative;

}
#wrapper{
	width:80%;
	margin: 0 auto;
}

#section2, #section3, #section4 {
	display: none;
}

.radioBtn {
	display: none;
}

ul {
	list-style: none;
}

#profile {
	display: flex;
	margin-bottom: 20px;
	height:300px;
}

#profileImg {
	width: 200px;
	height: 200px;
	margin: 500px;
	border-radius: 70%;
	/* margin-left: 10vw; */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	 margin-left: 150px;
    margin-right: 80px;
    border: 1px solid red;
}

.defaultImg {
	background-Image: url('${path}/images/myprofile/default-profile.png')
}

#followDiv {
	display: flex;
}

#profileEx {
	margin-left: 5vw;
	padding-top: 20px
}

#menuBar {
	display: flex;
	padding: 0;
	justify-content: space-between;
	 background-color:#C4C4C4; 
	
}

#menuBar li {
	width: 25%;
	text-align: center;
	
	
}

.menuBarH3 {
	display: block;
	margin: 0;
	padding: 7% 0;
	
	cursor:pointer;
}

.main {
	width: 100%;
	margin: 0 auto;
	border: 1px solid black;
	/* height:1350px; */
}

ul {
	list-style: none;
}

#modalOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	display: none;
	z-index: 10;
}

.modal {
	display: none;
	position: absolute;
	width: 400px;
	height: 700px;
	top: 100px;
	left: 50%;
   transform: translateX(-50%);  
	border: 1px solid black;
	z-index: 200;
	background-color: white;
	overflow: scroll;
}


#imageModal>img {
	width: 350px;
	height: 500px;
	object-fit: contain;
}

textarea {
	resize: none;
}

.modalTitle {
	text-align: center;
}

.hr {
	background-color: gray;
	width: 90%;
	height: 2px;
	margin: 0 auto;
}

#usernick{
	font-size:20px;
}
.closeBtn {
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 30px;
    z-index:50;
    cursor:pointer;
}
#profileSet, .fa-envelope{
	font-size:20px;
	cursor:pointer;
	
}
.followCnt{
	cursor:pointer;
}


#profileDiv {
	width: 90%;
	margin: 0 auto;
	
}

#updateComment {
	width: 350px;
	margin: 0 auto;
}

#proImgPreview {
	width: 60px;
	height: 60px;
	border-radius: 70%;
	border: 1px solid black;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#profileImgSet {
	display: none;
}

#profileImgSetLB {
	border: 1px solid black;
}

#proImgDiv {
	
}

#userpostUl {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 0;
	clear:both;
}

#userpostUl>li {
	border: 1px solid black;
	margin: 40px;
}




/* #wrapperPost {
	position: relative;
} */



#writeDiv {
	display: none;
	/* position: absolute; */
	width: 80%;
	margin:0 auto;
	/* height: 900px; */
	background-color: white;
	/* top: 0;
	left: 0; */
}
/*  #postDetail{
	display:none;
} 
 */
.postImgDiv {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	background: url('${path}/images/myprofile/default-profile.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 15px;
}

.postfiles {
	display: none;
}

#postfileUl {
	display: flex;
}

#postThumbnailDf {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	background: url('${path}/images/myprofile/default-profile.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.postThumbnail {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.followImg {
	width: 60px;
	height: 60px;
	border-radius: 70%;
	border: 1px solid black;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.userpostLi{
	height:220px;
	cursor:pointer;
}


.displayNone {
	display: none;
}
.createdate{
	position:absolute;
	top:35px;
	right:10px;
}

#pageBox{
	width:150px;
	margin: 0 auto;
	 transform: translateX(10%);
	 color:#EB5528;
}
.pageBtn{
	font-size:50px;
	cursor:pointer;
	margin:5px;
}

#wpWrite{
	margin-top:20px;
}
#wpTitle{
	margin-top:20px;	
}
#postTitle{
	width:200px;
	height:30px;
}
#contenth4{
	margin-top:20px;	
}
#postBtns{
	float:right;
	margin-bottom:30px;
}
#postBtns>button{
	width:100px;
	height:50px;
	font-size:15px;
	background-color:#BDBDBD;
	cursor:pointer;
	
}
#postBtns>button:nth-child(1){
	width:100px;
	height:50px;
	font-size:15px;
	background-color:#F5D748;
	color:white;
}
#postDeleteBtn{
	position:absolute;
	top:10px;
    right:10px;
}
#postModifyBtn{
	position:absolute;
	top:10px;
    right:35px;
}

.userControll{
	font-size:20px;
	display:none;
	
}
.userControll:hover{
	color:red;
}
#writeBtn {
	
	float:right;
	margin: 20px 10px 0 10px ;
	
	height: auto;
	font-size:15px;
    cursor:pointer;

}
#modifyBtn{
	float:right;
	width: 80px;
	height: auto;
	font-size:15px;
    cursor:pointer;
    margin: 20px 20px 0 0;
}


#sendLetterDiv{
	z-index:30;
	display:none;
}
.messageBtns{
	cursor:pointer
}